@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.nav-container {
    position: relative;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding-bottom: 10px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav:hover {
    transform: scaleY(1.1); 
}


.nav-image {
    float: left;
    padding-left: 4%;
    max-width: 100%;
    height: auto;
    width: 7%;
}

.nav-droite a {
    border-right: 1px solid black;
}

.CONNECT {
    font-weight: bold;
}

.nava {
    font-family: Amiko, sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.080em;
    text-align: right;
    float: right;
    padding-top: 15px;
    display: flex;
    padding-right: 2%;
}

.nava a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #000000;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(image/DESIGN-DE-FOND.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

body {
    background-image: url(image/DESIGN-DE-FOND.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.acroche{
    font-family: Amiko, sans-serif;
    
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-top: 26%;


}
.discover-button {
    width: 20vw;
    max-width: 263px;
    height: 4vw;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #000000;
    font-family: Amiko, sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    color: white;
    margin: 17% auto;
    display: block;
}

.description{
    background: rgba(234, 255, 251, 1);
    display: flex;
}

.description-button-video{
    border: 25px solid #bbccc9;
    width: 60%;
    height: 500px;
    border-radius: 100% ;
    background-image: url(image/image-42.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    margin-top: 5%;
}

.description-text{
    display: block;
    margin: auto ;
    margin-left: 20%;
    margin-right: 10%;
}

.description-text2 h1 {
    font-family: Abel;
    font-size: 40px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    color: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #3B4040, #3B4040);
    margin-right: 20px;
    display: flex;
    text-align: center;
}

.logo-description {
    max-width: 200%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.description-explication{
    font-family: Abel;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;

}

.description-text3{
    display: flex;
}

.description-redirection{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 275;
    line-height: 38px;
    letter-spacing: 0em;
    color: #3B4040;
    display: block;
    position: absolute;

}


.description-arrow{
    margin-top: 3%;
    display: flex;
    margin-bottom: 5px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 0.5px;
}